* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    
}

.navlist {
     width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 30px;
}

.navlist li {
    list-style-type: none;
    padding: 20px 20px;
}

.navlist li a:hover {
    color: rgb(96, 92, 92);
}

.navlist li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.rightNav {
    width: 50%;
    text-align: right;
}

.logo img {
    width: 50px;
    border: 2px solid white;
    border-radius: 100px;
}

#search {
    margin-top: 10px;
    padding: 3px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 17px;
    width: 150px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url(../img/bg.jpg);
    background-size: cover;
    background-blend-mode: darken;

}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.firstHalf {
    color: antiquewhite;
}
.secondHalf img{
   width: 200px;
   border: 2px solid white;
   border-radius: 20px;
   
   
}



